body, button {
    font-family: cursive;
    font-size: 14pt;
    text-align: center;
}

#puzzlearea {
    font-size: 40pt;
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.puzzlepiece {
    background-image: url(images/fifteen-background.jpg);
    border: 5px solid black;
    width: 90px;
    height: 90px;
    position: absolute;
    cursor: pointer;
}

.puzzlepiece:hover {
    transform: scale(0.99);
}

.movablepiece:hover {
    border-color: red;
    color: red;
}

#gradingarea {
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 999999;
}

.valid {
    background-color: #bfb;
}

.invalid {
    background-color: #f88;
}