* {
    box-sizing: border-box;
    font-family: Monospace, sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
}

h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}

.image-container {
    margin-bottom: 20px;
}

.textbox {
    margin-bottom: 20px;
}

.textbox p {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.textbox textarea {
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controls p {
    font-size: 20px;
    font-weight: 500;
}

.btn {
    margin: 0 5px;
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}

.btn:hover {
    background-color: #3e8e41;
}

.checkbox {
    font-size: 20px;
    font-weight: 500;
}

.checkbox input[type="checkbox"] {
    margin-right: 10px;
}